<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flightonline">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".OrderInfoActivity"></activity>
        <activity android:name=".BookFlightActivity" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="c553a8a19a1188675b34cbff9ddfd193" />

        <activity android:name=".LoginActivity" />
        <activity android:name=".InquiryFlightActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/DefaultCityPickerTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>